<a href="https://colab.research.google.com/github/manikanta-eng/DATA-MINING/blob/main/lab_08.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:

import pandas as pd

In [3]:
data = {
    "Employee": ["John", "Sarah", "Mike", "Emma", "Tom"],
    "Department": ["IT", "HR", "IT", "Finance", "HR"],
    "Salary": [60000, 50000, 75000, 65000, 48000],
    "Experience (Years)": [5, 3, 7, 4, 2],
    "Performance Rating (Out of 5)": [4.5, 3.8, 4.9, 4.2, 3.5]
}

In [4]:
df = pd.DataFrame(data)

In [12]:
avg_salary = df.groupby("Department")["Salary"].mean()
print("Average Salary per Department:\n", avg_salary)

Average Salary per Department:
 Department
Finance    65000.0
HR         49000.0
IT         67500.0
Name: Salary, dtype: float64

In [13]:
high_performers = df[df["Performance Rating (Out of 5)"] > 4.0]
print("\nEmployees with Performance Rating above 4.0:\n", high_performers)

Employees with Performance Rating above 4.0:
   Employee Department  Salary  Experience (Years)  \
0     John         IT   60000                   5
2     Mike         IT   75000                   7
3     Emma    Finance   65000                   4

   Performance Rating (Out of 5)  Increment  New Salary
0                            4.5        0.1     66000.0
2                            4.9        0.1     82500.0
3                            4.2        0.1     71500.0

In [14]:
df["Increment"] = df["Performance Rating (Out of 5)"].apply(lambda x: 0.10 if x > 4.0 else 0.05)

In [15]:
df["New Salary"] = df["Salary"] * (1 + df["Increment"])

In [19]:
sorted_df = df.sort_values(by="New Salary", ascending=False)
print("\nSorted Employees by New Salary (Descending Order):\n",sorted_df)

Sorted Employees by New Salary (Descending Order):
   Employee Department  Salary  Experience (Years)  \
2     Mike         IT   75000                   7
3     Emma    Finance   65000                   4
0     John         IT   60000                   5
1    Sarah         HR   50000                   3
4      Tom         HR   48000                   2

   Performance Rating (Out of 5)  Increment  New Salary
2                            4.9       0.10     82500.0
3                            4.2       0.10     71500.0
0                            4.5       0.10     66000.0
1                            3.8       0.05     52500.0
4                            3.5       0.05     50400.0

##covid 19 cases analysis##

In [20]:
import pandas as pd

In [21]:
data = {
    "City": ["New York", "Los Angeles", "Chicago", "Houston", "Miami"],
    "Total Cases": [100000, 85000, 65000, 70000, 55000],
    "Recovered": [75000, 70000, 50000, 60000, 45000],
    "Deaths": [5000, 3500, 2500, 2000, 1500]
}

In [22]:
df = pd.DataFrame(data)

In [32]:
df["Recovery Rate (%)"] = (df["Recovered"] / df["Total Cases"]) * 100
print("DataFrame with Recovery and Death Rates:")
print(df)

DataFrame with Recovery and Death Rates:
          City  Total Cases  Recovered  Deaths  Recovery Rate (%)  \
0     New York       100000      75000    5000          75.000000
1  Los Angeles        85000      70000    3500          82.352941
2      Chicago        65000      50000    2500          76.923077
3      Houston        70000      60000    2000          85.714286
4        Miami        55000      45000    1500          81.818182

   Death Rate (%)
0        5.000000
1        4.117647
2        3.846154
3        2.857143
4        2.727273

In [33]:
df["Death Rate (%)"] = (df["Deaths"] / df["Total Cases"]) * 100
high_death_rate_cities = df[df["Death Rate (%)"] > 5]
print("\nCities with Death Rate > 5%:")
print(high_death_rate_cities)

Cities with Death Rate > 5%:
Empty DataFrame
Columns: [City, Total Cases, Recovered, Deaths, Recovery Rate (%), Death Rate (%)]
Index: []

In [31]:
sorted_df = df.sort_values(by="Recovery Rate (%)", ascending=False)
print("\nCities sorted by Recovery Rate:")
print(sorted_df)

Cities sorted by Recovery Rate:
          City  Total Cases  Recovered  Deaths  Recovery Rate (%)  \
3      Houston        70000      60000    2000          85.714286
1  Los Angeles        85000      70000    3500          82.352941
4        Miami        55000      45000    1500          81.818182
2      Chicago        65000      50000    2500          76.923077
0     New York       100000      75000    5000          75.000000

   Death Rate (%)
3        2.857143
1        4.117647
4        2.727273
2        3.846154
0        5.000000

In [35]:
total_cases = df["Total Cases"].sum()
total_deaths = df["Deaths"].sum()
print("\nTotal Cases Across All Cities:", total_cases)
print("Total Deaths Across All Cities:", total_deaths)

Total Cases Across All Cities: 375000
Total Deaths Across All Cities: 14500